* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
*::-moz-selection {
  background-color: #00072D;
  color: white;
}
*::selection {
  background-color: #00072D;
  color: white;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.barraSuperior {
  display: flex;
  height: 50px;
  padding: 5px;
  background-color: #00072D;
}

.barraBusqueda {
  position: absolute;
  padding: 5px;
  right: 80px;
  top: 10px;
}

.barraBusqueda input {
  width: 0px;
  height: 25px;
  padding: 0 10px;
  font-size: 15px;
  color: #000;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
  transition: all 0.6s ease;
}

.btn {
  position: absolute;
  top: 5%;
  right: 0%;
  background: #0E6BA8;
  width: 30px;
  height: 30px;
  line-height: 15px;
  text-align: center;
  color: white;
  font-size: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.barraBusqueda:hover input {
  width: 240px;
}

.barraBusqueda input:focus {
  width: 240px;
}

.barraWhatsapp {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.barraWhatsapp p {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 3px;
  color: white;
  top: 5px;
}

.iconoWhatsapp {
  position: absolute;
  top: 0px;
  right: 750px;
  font-size: 25px;
  color: white;
}

.bg-barraDeWhatsapp {
  background-color: #00072D;
}

.whatsapp {
  right: 500px;
}

.encabezado {
  background-color: #00072D;
  display: grid;
  padding: 50px;
  height: 100px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "item1 item2 item3";
}
.encabezado a {
  color: white;
}

.logotipoOptica {
  grid-area: item1;
  height: 90px;
  top: 10px;
  display: flex;
  flex-direction: row;
  margin-top: -70px;
  left: 200px;
}
.logotipoOptica .logo {
  width: 140%;
  height: 140%;
}

.navbar {
  grid-area: item2;
  width: 100%;
  display: flex;
  top: -10%;
}
.navbar .menu {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 100px;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 250px;
  margin-top: -25px;
}
.navbar .menu .menu__item {
  text-decoration: none;
}
.navbar li {
  color: #00072D;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.botonesRedes {
  grid-area: item3;
  height: 50px;
}
.botonesRedes ul {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.botonesRedes ul li {
  list-style: none;
}
.botonesRedes ul li a {
  width: 45px;
  height: 45px;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}
.botonesRedes ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}
.botonesRedes ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}
.botonesRedes ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
.botonesRedes ul li a:hover:before {
  top: 0;
}
.botonesRedes ul li:nth-child(1) a:before {
  background: #3b5999;
}
.botonesRedes ul li:nth-child(2) a:before {
  background: #55acee;
}
.botonesRedes ul li:nth-child(3) a:before {
  background: #b50085;
}
.botonesRedes ul li:nth-child(4) a:before {
  background: #dd4b39;
}

.menu-bar {
  background-color: #001C55;
  text-align: center;
  height: 35px;
}
.menu-bar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.menu-bar li {
  list-style: none;
}
.menu-bar ul li:hover {
  background-color: #00072D;
}
.menu-bar ul li a:hover {
  color: #0E6BA8;
}
.menu-bar ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background-color: #00072D;
  margin-top: 5px;
  margin-left: -7px;
  list-style-type: none;
}
.menu-bar ul li:hover .sub-menu ul {
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu ul li {
  width: 198px;
  padding: 10px;
  border-bottom: 1px solid white;
  background: transparent;
  text-align: left;
  font-size: 10px;
  list-style: none;
  margin-left: -30px;
}
.menu-bar ul li:hover .sub-menu ul li a {
  list-style-type: none;
}
.menu-bar ul li:hover .sub-menu ul li:last-child {
  border-bottom: none;
}
.menu-bar ul li:hover .sub-menu ul li a:hover {
  color: #0E6BA8;
}

.menubarDesplegable {
  display: inline-flex;
}
.menubarDesplegable .paginasMenubar {
  width: 220px;
  padding: 7.8px;
  margin-left: 5px;
  font-size: 13px;
}
.menubarDesplegable .paginasMenubar .sub-menu {
  display: none;
}

.slider {
  width: 100%;
  height: 800px;
  overflow: hidden;
}
.slider .imagenesSlide {
  display: flex;
  width: 500%;
  background-image: url(../img/modelo1.jpg);
  background-size: cover;
  background-position: 0%;
  height: 800px;
  width: 100%;
  -webkit-animation: animacion 40s infinite;
          animation: animacion 40s infinite;
}
.slider .imagenesSlide .contenido {
  position: relative;
  bottom: -200px;
  left: 60%;
  padding: 50px;
  z-index: 1;
  max-width: 400px;
}
.slider .imagenesSlide .contenido h2 {
  margin: 0;
  padding: 0;
  font-size: 62px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  color: white;
  letter-spacing: 10px;
}
.slider .imagenesSlide .contenido p {
  margin: 10px 0 0;
  padding: 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: white;
}
@-webkit-keyframes animacion {
  20% {
    background-image: url(../img/modelo5.jpg);
    background-size: cover;
  }
  40% {
    background-image: url(../img/modelo4.jpg);
    background-size: cover;
  }
  60% {
    background-image: url(../img/modelo3.jpg);
    background-size: cover;
  }
  80% {
    background-image: url(../img/modelo2.jpg);
    background-size: cover;
  }
  100% {
    background-image: url(../img/modelo1.jpg);
    background-size: cover;
  }
}
@keyframes animacion {
  20% {
    background-image: url(../img/modelo5.jpg);
    background-size: cover;
  }
  40% {
    background-image: url(../img/modelo4.jpg);
    background-size: cover;
  }
  60% {
    background-image: url(../img/modelo3.jpg);
    background-size: cover;
  }
  80% {
    background-image: url(../img/modelo2.jpg);
    background-size: cover;
  }
  100% {
    background-image: url(../img/modelo1.jpg);
    background-size: cover;
  }
}

.catalogo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "item1 item2" "item1 item2";
  margin: 120px;
  padding: 20px;
  height: 1300px;
}
.catalogo .categorias {
  grid-area: item1;
  border-right: 1px solid gray;
  width: 20rem;
  margin-left: 20px;
  margin-top: -20px;
}
.catalogo .categorias .categorias-title {
  margin-bottom: 25px;
}
.catalogo .categorias .categorias-title h4 {
  font-size: 17px;
}
.catalogo .categorias .marcas li {
  list-style: none;
  margin-left: -25px;
  margin-bottom: 10px;
}
.catalogo .categorias .marcas a {
  font-size: 15px;
}
.catalogo .cards-catalogo {
  grid-area: item2;
}
.catalogo .cards-catalogo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "fila1 fila1" "fila2 fila3" "fila4 fila4" "fila5 fila5";
}
.catalogo .cards-catalogo .posicion {
  grid-area: fila4;
  margin-top: -15rem;
  margin-left: -120px;
}
.catalogo .cards-catalogo .catalogo-titulo {
  grid-area: fila1;
  margin-left: -100px;
  margin-top: -100px;
  letter-spacing: 5px;
}
.catalogo .cards-catalogo .resultados {
  grid-area: fila2;
  margin-top: -9rem;
  margin-left: -100px;
}
.catalogo .cards-catalogo .resultados h5 {
  font-size: 15px;
}
.catalogo .cards-catalogo .ordenar-por {
  grid-area: fila3;
  margin-top: -10rem;
}
.catalogo .cards-catalogo .ordenar-por option {
  font-size: 15px;
}
.catalogo .cards-catalogo .paginas-catalogo {
  margin-top: 5rem;
  margin-left: 700px;
  height: 50px;
}
.catalogo .cards-catalogo .paginas-catalogo h5 {
  font-size: 15px;
}

.imagen-fondo {
  background-image: url(/img/Optica.jpg);
  background-size: 100vw;
  height: 650px;
  background-size: cover;
  background-position-y: center;
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imagen-fondo h1 {
  font-size: 50px;
  color: white;
  border-bottom: 4px solid #0A2472;
}
.imagen-fondo p {
  font-size: 30px;
  width: 800px;
  color: white;
}

.carga-tu-receta {
  padding: 20px;
}
.carga-tu-receta form {
  width: 450px;
  margin: auto;
}
.carga-tu-receta h2 {
  text-align: center;
}
.carga-tu-receta input, .carga-tu-receta textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  border: 1px solid rgb(209, 209, 209);
}
.carga-tu-receta textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
.carga-tu-receta #boton {
  background: #0A2472;
  color: white;
}
.carga-tu-receta #boton:hover {
  cursor: pointer;
}

.pagina-contacto {
  background-image: url(/img/probando_optica.jpg);
  background-size: cover;
  background-size: 100vw;
  height: 700px;
  background-position-y: center;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "info1 info2" "info3 info2";
}
.pagina-contacto .redes {
  grid-area: info1;
  margin: 100px;
}
.pagina-contacto .informacion {
  grid-area: info3;
  margin: 80px;
  margin-top: -50px;
}
.pagina-contacto .informacion h2 {
  margin-bottom: 20px;
}
.pagina-contacto .informacion span {
  margin-bottom: 20px;
}
.pagina-contacto .contacto {
  grid-area: info2;
  margin-top: 100px;
}
.pagina-contacto .contacto form {
  width: 450px;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
}
.pagina-contacto .contacto h2 {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 20px;
}
.pagina-contacto .contacto input, .pagina-contacto .contacto textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 15px;
}
.pagina-contacto .contacto textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
.pagina-contacto .contacto #boton {
  background: #0A2472;
  color: white;
}
.pagina-contacto .contacto #boton:hover {
  cursor: pointer;
}

.pagina-nosotros {
  background-image: url(/img/probando_optica.jpg);
  background-size: cover;
  background-size: 100vw;
  height: 700px;
  background-position-y: center;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "info1 info2" "info1 info2";
}
.pagina-nosotros .obras-sociales {
  grid-area: info1;
  margin: 100px;
}
.pagina-nosotros .nosotros {
  grid-area: info2;
  margin-top: 100px;
}
.pagina-nosotros .nosotros p {
  width: 450px;
}

.novedades {
  grid-area: item1;
  text-align: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 5px;
  font-weight: 400;
  font-size: 30px;
  display: flex;
  position: relative;
  left: 45%;
}

.cards-novedades {
  background-color: rgb(250, 250, 250);
  font-size: 14px;
  color: #000;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "item1" "item2";
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  height: 100px;
}
.cards-novedades .container {
  grid-area: item2;
  width: 1500px;
  padding: 10px 40px;
}
.cards-novedades .container .swiper {
  width: 100%;
  height: 100%;
}
.cards-novedades .container .swiper-slide {
  position: relative;
  text-align: start;
  font-size: 18px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
  border-bottom: 4px solid #0A2472;
}
.cards-novedades .container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards-novedades .container .card-description {
  padding: 1rem;
}
.cards-novedades .container .card-title,
.cards-novedades .container .card-text {
  margin-bottom: 0.5rem;
}
.cards-novedades .container .card-title h4 {
  font-family: "Roboto", sans-serif;
}
.cards-novedades .container .card-text p {
  font-family: "Open Sans", sans-serif;
}
.cards-novedades .container .card-link {
  text-align: center;
  border-top: 1px solid rgb(223, 223, 223);
  width: 272.5px;
  margin-left: -16px;
}
.cards-novedades .container .card-link a {
  text-decoration: none;
}

.swiper-button-next {
  position: absolute;
  right: 12%;
  top: 127rem;
}

.swiper-button-prev {
  position: absolute;
  left: 12%;
  top: 127rem;
}

/* Media queries*/
@media screen and (max-width: 576px) {
  .encabezado {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #001C55;
  }
  .logotipoOptica {
    gap: 1rem;
    margin-left: 10px;
  }
  .logo {
    width: 90%;
    height: 50px;
  }
  .encabezadoTitulo {
    font-size: 40px;
    color: white;
  }
  .menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    height: 100%;
    margin-left: 130px;
    margin-top: 30px;
    justify-content: center;
  }
  li {
    color: white;
  }
  .navbar {
    flex-direction: row;
    margin-left: -850px;
  }
  .navbar a {
    color: white;
  }
  .menu-bar {
    display: none;
  }
  .menu-bar {
    display: none;
  }
  /* Imagen principal */
  .imagenPrincipal {
    height: 500px;
  }
  /* Cards */
  .novedades {
    font-size: 25px;
    right: 35%;
  }
  .card {
    display: grid;
    width: 100%;
  }
  .cards {
    padding: 80px;
    background-color: #A6E1FA;
    display: grid;
    gap: 50px;
  }
  .card__imagen {
    width: 100%;
    height: 100%;
  }
  .card__div {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .card__titulo {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  .card__descripcion {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
  }
  .card__boton {
    background-color: aliceblue;
    display: flex;
    width: 0px;
    height: 0px;
    border-radius: 0px;
    line-height: 0px;
    text-align: none;
    margin-left: 0px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  /* Encabezado*/
  .encabezado {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #001C55;
  }
  .logotipoOptica {
    gap: 1rem;
    margin-left: 250px;
  }
  .logo {
    width: 90%;
    height: 50px;
  }
  .encabezadoTitulo {
    font-size: 40px;
    color: white;
  }
  .menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    height: 100%;
    margin-left: 130px;
    margin-top: 30px;
    justify-content: center;
  }
  li {
    color: white;
  }
  .navbar {
    flex-direction: row;
    margin-left: -850px;
  }
  .navbar a {
    color: white;
  }
  .menu-bar {
    display: none;
  }
  /* Imagen principal */
  .imagenPrincipal {
    height: 500px;
  }
  /* Cards */
  .novedades {
    font-size: 25px;
    right: 35%;
  }
}/*# sourceMappingURL=estilo.css.map */