@import "./partials/variables";
@import "./partials/reset";
@import "./partials/barra-whatsapp";
@import "./partials/barra-superior";
@import "./partials/header";
@import "./partials/menubar-desplegable";
@import "./partials/slider";
@import "./partials/catalogo";
@import "./partials/carga-tu-receta";
@import "./partials/contacto";
@import "./partials/nosotros";
@import "./partials/cards";
@import "./partials/footer";

/* Media queries*/

@media screen and (max-width: 576px) {
    .encabezado {
        display: flex;
        width: 100%;
        height: 300px;
        background-color: #001C55 ;
    }

    .logotipoOptica {
        gap: 1rem;
        margin-left: 10px;
    }
    
    .logo {
        width: 90%;
        height: 50px;
    }
    
    .encabezadoTitulo {
        font-size: 40px;
        color: white;
    }
    
    .menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        width: 100%;
        height: 100%;
        margin-left: 130px;
        margin-top: 30px;
        justify-content: center;
    }
    
    li {
        color: white;
    }
    
    .navbar {
        flex-direction: row;
        margin-left: -850px;
    }

    .navbar a {
        color: white;
    }

    .menu-bar {
        display: none;
    }

    .menu-bar {
        display: none;
    }

    /* Imagen principal */
    .imagenPrincipal {
        height: 500px;
    }

    /* Cards */
    .novedades {
        font-size: 25px;
        right: 35%;
    }
    
    .card {
        display: grid;
        width: 100%;
    }
    
    .cards {
        padding: 80px;
        background-color: #A6E1FA;
        display: grid;
        gap: 50px;
    }
    
    .card__imagen {
        width: 100%;
        height: 100%;
    }
    
    .card__div {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .card__titulo {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    
    .card__descripcion {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
    }
    
    .card__boton {
        background-color: aliceblue;
        display: flex;
        width: 0px;
        height: 0px;
        border-radius: 0px;
        line-height: 0px;
        text-align: none;
        margin-left: 0px;
    }
}


@media (min-width: 576px) and (max-width: 992px) {
    /* Encabezado*/
    .encabezado {
        display: flex;
        width: 100%;
        height: 300px;
        background-color: #001C55 ;
    }

    .logotipoOptica {
        gap: 1rem;
        margin-left: 250px;
    }
    
    .logo {
        width: 90%;
        height: 50px;
    }
    
    .encabezadoTitulo {
        font-size: 40px;
        color: white;
    }
    
    .menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        width: 100%;
        height: 100%;
        margin-left: 130px;
        margin-top: 30px;
        justify-content: center;
    }
    
    li {
        color: white;
    }
    
    .navbar {
        flex-direction: row;
        margin-left: -850px;
    }

    .navbar a {
        color: white;
    }

    .menu-bar {
        display: none;
    }

    /* Imagen principal */
    .imagenPrincipal {
        height: 500px;
    }

    /* Cards */
    .novedades {
        font-size: 25px;
        right: 35%;
    }
}
