.detalles {

    .titulo-detalles {
        margin-left: -100px;
        margin-top: -50px;
        padding-bottom: 40px;
    }

    .detalles-descripcion {
        margin-left: -100px;
        margin-top: 50px;
    }
    
    
    .img-detalles {
        width: 100%;
        margin-left: -100px;
    }

    .card-detalles {
        width: 100%;
        margin-left: -100px;
    }

    .mg-productos {
        margin-left: -100px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}