.menu-bar {
    background-color: $azulOscuro;
    text-align: center;
    height: 35px;

    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    li {
        list-style: none;
    }

    ul li:hover {
        background-color: $azulOscuro;
        z-index: 1;
    }

    ul li a:hover {
        color: #0E6BA8;
    }

    ul li:hover .sub-menu {
        display: block;
        position: absolute;
        background-color: #00072D;
        margin-top: 5px;
        margin-left: -7px;
        list-style-type: none;

        ul {
            display: block;
            margin: 10px;
        }

        ul li {
            width: 198px;
            padding: 10px;
            border-bottom: 1px solid white;
            background: transparent;
            text-align: left;
            font-size: 11px;
            list-style: none;
            margin-left: -30px;
        }
        
        ul li a {
            list-style-type: none;
        }
        
        ul li:last-child {
            border-bottom: none;
        }

        ul li a:hover {
            color: #0E6BA8;
        }
    } 
}

.menubarDesplegable {
    display: inline-flex;

    .paginasMenubar {
        width: 220px;
        padding: 7.8px;
        margin-left: 5px;
        font-size: 13px;

        .sub-menu {
            display: none;
        }
    }
}


