
.bg-color {
    background-color: $colorPrincipal;
}

.obras-sociales {

    li {
        color: white;
        margin-bottom: 10px;
    }
}

.titulo-logo-nosotros{

    .logo-nosotros {
        width: 10%;
        margin-left: 45px;
    }
    
    .titulo-nosotros {
        width: 40%;
        margin-left: 20px;
        padding-bottom: 5px;
    }
}

