* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

    &::selection {
        background-color: $azulOscuro;
        color: white;
    }
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(250, 250, 250);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}